.container{
    max-width: 100vh;
    border-color: aqua;

}

.operadores{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5rem;
    padding: 0;
}