.button {
    height: 100%;
    width: 100%;
    font-size: 35px;
    background-color: #efefef;
    color: #1c1c1c;
    font-family: 'Quantico';
    font-weight: bold;
    cursor: pointer;
    border: 5px solid #1c1c1c;
    user-select: none;

}

.button:hover {
    color: #efefef;
    background-color: #1c1c1c;
}
