.Boton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aa7eae;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    font-size: 3rem;
    font-weight: 700;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
}